body {
    background: silver;
    padding: 0;
}
* {
    box-sizing: border-box;
    transition: .3s;
}
header {
    width: 100%;
    height: 80px;
    background-color: chocolate;
    color: cornsilk;
}